body {
    background-color: blanchedalmond;
}

#title {
    text-align: center;
}

form {
    margin: auto;

}

#login-button,
#edit-button {
    text-align: center;
    margin: auto;
    padding: 10px;

}

#create-form,
#login-form,
#create-profile-form {
    width: 30%;
    margin: auto;
    padding: 10px;
    background-color: aquamarine;
    /* text-align: left; */
}


li {
    text-align: left;
}

tr,
td {
    text-align: left;
    padding: 5px;
    margin: 10px;
}

#create-errors {
    color: red;
}

#navbar {
    background-color: rgb(224, 176, 141);
    color: aliceblue;
    padding: 5px;
}

#navbar a {
    padding: 10px;

}


#create-errors {
    color: red;
}

#error-message {
    color: red;
    font-weight: bold;
}

#captch-img {
    padding: 10px;
}