{% extends "base.html" %}
{% load static %}
{% block title%}登入{% endblock %}

{% block style %}
<style>
    #login-form {
        width: 20%;
    }
</style>
{% endblock %}

{% block content %}
<div id="title">
    <h2>登入</h2>
</div>

<div id="login-form">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">帳號</label> <br>
        <input type="text" name="username" id="username"><br>

        <label for="password">密碼</label> <br>
        <input type="text" name="password" id="password"><br>
        <div id="login-button">
            <input type="submit" value="確定">
            <input type="reset" value="清除">
        </div>

        message:{{message}}

    </form>
</div>



{% endblock %}